{% extends "base.html" %}
{% block content %}
    <section id="staffsignup">
        <div class="container">
            <div class="row">

			<h1>Staff</h1>
			<h2>Sign up below!</h2>

			<!--MESSAGE FLASHING EXAMPLE -->
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
					{% for message in messages %}
					  <li><strong>{{message}}</strong></li>
					  {% endfor %}
					</ul>
				{% endif %}
			{% endwith %}

			<form action='#' method='POST'>
				<table>
					<tr>
						<td>Username:</td>
						<td><input type='text' name='username'></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type='password' name='password'></td>
					</tr>
					<tr>
						<td>Reconfirm password:</td>
						<td><input type='password' name='reconfirm_password'></td>
					</tr>
					<tr>
						<td>Email address:</td>
						<td><input type='text' name='email'></td>
					</tr>
					<tr>
						<td>Restaurant ID:</td>
						<td><input type='text' name='restaurant_id'></td>
					</tr>
					<tr>
						<td>What is {{randNumber}} + 8?</td>
						<td><input type='text' name='verification_code'></td>
					</tr>
					<tr>
						<td><input type='submit' value='Submit'></td>
						<td><a href='#'>Cancel</a></td>
					</tr>
				</table>
			</form>

		</div>
	</div>
</section>

{% endblock %}